<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>IA-04/1</title>
</head>
<body>
<ul th:each="student : ${students}">
    <a th:href="@{/user/{username}/(username=${student.getUsername()})}" th:text="${student.getUsername()}"></a>
</ul>
<br>
<ul><a href="/calculator">Калькулятор</a></ul>
<ul><a href="/faculties">КПІ</a></ul>
<ul><a href="http://rozklad.kpi.ua/Schedules/ViewSchedule.aspx?g=96860c67-2892-4fe3-8a2f-b15dc3adc159">Ссылка на rozklad</a></ul>
<img src="/static/picture.png" alt="" height="200" width="200">
</body>
</html>